#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-repeat: repeat;
  background-size:inherit;
  background-image: url("https://img.freepik.com/premium-vector/seamless-pattern-cute-dog-puppy-cartoon-funny-happy-dog-character-with-simple-shape-style-illustration-background-wallpaper-textile-fabric_253081-198.jpg?w=2000");
}

.App{
  font-weight: bold;
  font-size: x-large;
  -webkit-text-stroke:0.075px whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(246, 169, 35, 0.805);
}

.mainPup{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-weight: bolder;
  background-color: rgb(235, 239, 243);
  color: rgb(150, 53, 150);
}